body{
background-color: lightsteelblue; color: red;
}
h1{
color: green; font-size: 100px;
}
h2{
color: blue; font-size: 10px;
}
h3{
color: red; font-size: 1px;
}
p{
color: yellow; font-family:"monospace";
}
#content{
font-size: 5px; color: #c64f32; background-color:black;
}
.extreme{
font-size: 50px; color: #dbf4ef; background-color:green;
}
.navzone{
font-size: 25px; color: #ba8ece; background-color:blue;
}
#tehlulz{
font-size: 500px; color: #6ac6b5; background-color:white;
}


