body{
background-color: lightblue; color: black;
}
h1{
color: green; font-size: 1000px;
}
h2{
color: Maroon; font-size: 100px;
}
h3{
color: #C96464; font-size: 9001px;
}
p{
color: #AED6B0; font-family:"system-ui";
}